html {
    background: #cfcfcf;
}
.chess-board-wrap {
    width: 720px;
    height: 720px;
    margin: 5% auto;
    background-color: saddlebrown;
    border: 2px solid black;
    display: flex;
}

.chess-board {
    margin: auto;
    background-color: #fff;
    border: 2px solid black;
    width: 640px;
    height: 640px;
}

.chess-cell {
    width: 80px;
    height: 80px;
    float: left;
}

.black-cell {
    background-color: #000;
}

.white-cell {
    background-color: #fff;
}


