#basket {
    width: 100px;
    height: 100px;
    background-image: url(img/basket-img.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    border: 1px solid black;
    margin: 30px auto;
    position: relative;
}

#basket:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.7);
    box-shadow: 0 1px 5px rgba(0,0,0,0.7);
}

#basket-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: darkred;
    color: white;
    text-align: center;
    line-height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 5px;
    left: 65px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.7);
    display: none;
}

.basket-body {
    width: 600px;
    height: 200px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.7);
    background-color: darkgray;
    position: relative;
    margin: 30px auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#close {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    transition: transform .25s ease-in-out;
}

#close::before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 2px solid rgba(0,0,0,0.5);
    transform: rotate(45deg);
    transform-origin: center;
}

#close:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 2px solid rgba(0,0,0,0.5);
    transform: rotate(-45deg);
    transform-origin: center;
}

#close:hover {
    transform: rotate(180deg);
}

p {
    margin-top: 60px;
    font-family: Arial;
    text-align: center;
    padding-top: 60px;
}

label {
    display: block;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
}

input {
    display: block;
    margin: 0 auto;
    padding: 5px;
}

input:invalid {
    box-shadow: 0 0 3px 1px red;
}

input:focus:invalid {
    outline: none;
}

#basket-button, #clear-basket{
    display: block;
    margin: 30px auto;
    padding: 5px 30px;
    cursor: pointer;
}